.event__date {
  font-size: 32px;
  font-weight: 500;
}

.event__info {
  font-size: 24px;
  width: 85%;
  margin: 0 auto;
}

.info__item {
  margin-bottom: 10px;
}

.info__item::before {
  content: " ";
  display: inline-block;
  position: relative;
  top: -5px;
  left: -10px;
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
}

.event {
  margin-bottom: 20px;
}